/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  font-size: 18px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  width: 388px;
  text-underline-offset: 5px;
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  max-width: 240px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 5px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0 50px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 1.15;
  text-align: left;
}

.aligned-text_center {
  line-height: 1.0;
  text-align: center;
}

.aligned-text_right {
  line-height: 1.0;
  text-align: right;
}

.letter-spacing-text_right {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 135px 50px 50px 422px;
}

.cover__description-text {
  padding-top: 12px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  width: 257px;
  height: 52px;
  margin-left: 78px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px 0 50px;
}

.lots__heading {
  padding: 0 1179px 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  text-underline-offset: 3px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  max-width: 430px;
  min-height: 450px;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  position: relative;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  position: relative;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  position: relative;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  z-index: 1;
  padding: 50px 40px 0 40px;
  color: #fff;
  font-size: 22px;
  line-height: 1.2; /* 26.4px */
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  padding: 0 40px 50px 40px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2; /* 24px */
}

.lots__look-more-link {
  padding: 30px 1108px 2px 40px;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  padding: 181px 50px 0 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  align-self: center;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2/4;
  font-size: 20px;
}

.about__text-indent {
  padding-top: 5px;
  padding-bottom: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 90px 50px;
}

.footer__menu {
  justify-self: center;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__social-icon {
  height: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}